.links {
    text-decoration: none;
    color: black;
}

.modal {

    // display: flex;
    // align-items: center;
    // justify-content: center;

    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // margin: auto;

    // top: 50%;
    // left: 50%;
    // right: auto;
    // bottom: auto;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    // width: clamp(50vw, 300px, 70vw);


        //   top: 50%;
          background-color: cadetblue;
        //   left: 50%;
        //   right: auto;
        //   bottom: auto;
        //   margin-right: -50%;
        //   transform: translate(-50%, -50%);
        //   width: "70vw";
      
        
}